@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  color: #fff;
}

body {
  --color-primary: #3083dc;
  --color-primary-dark: #4e4187;
  --color-secondary: #ffffff;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 4px;

  background-image: url("./components/images/bg.jpg");
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 200px;
  background-size: cover;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

section {
  width: 440px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.324);
}

.small-title{
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

link {
  text-decoration: none;
  cursor: pointer;
}

link:hover {
  text-decoration: underline;
}

a,
a:visited {
  color: #fff;
}

input,
input[type="text"],
input[type="password"],
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

label,
button {
  margin-top: 1rem;
}

button {
  width: 100%;
  padding: 0.4rem 0.8rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

button:hover {
  background: var(--color-primary-dark);
}

button:active {
  transform: scale(0.98);
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

input:focus {
  border-color: var(--color-primary);
  background: #ffffff;
}

.form__input--error {
  color: var(--color-error);
  border-color: var(--color-error);
}

.form__input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-error);
}

.container {
  width: 1200px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background: #ffffff;
}

.side-by-side {
  display: flex;
  flex-direction: row;
}
